<div id="captcha">
  <h2>Please Verify that you are human using</h2>
  <%= recaptcha_tags(:public_key => '6LdsmNgSAAAAAAn88eGVDmPSlWmcs_vq2LNeZPTx') %>
  or
<div class="QapTcha"></div>
<%= submit_tag "register", :class => "submit_register" %>
</div>

