 <footer>
    <div class="left">Royal Nanny Care &copy; 2012 - Privacy Policy and Terms & Conditions </div>
    <div class="right" id="footer_links">
    	<%=link_to 'About Us',:home_about %> | <%=link_to 'Pre-Launch Info',:home_info %> | <%=link_to 'Contact Info',:home_contact%>
  
    </div>
    <div class="clear"></div>
 </footer>