 <div id="status_box">
      

        <div id="status_bar"><div id="status_progress" style="width:<%=@percent_complete%>%"></div> </div>
        <ul><li>0%</li><li>25%</li><li>50%</li><li>75%</li><li style="margin-right:0px;">100%</li></ul>

      </div>  
