<div class="sub_container">
<div class="interior_page_title">About Us</div>
<p>
	Welcome to Royal Nanny Care; the premier on-line
	registry where families meet exceptional, candidates
	for their childcare and household needs.
	
</p>	
<p>
	Nancy Poulous Boehm, President of RoyalNannyCare.com; has been
	creating quality child care options for families for over 25 years.
	
</p>	

<p>
	Nancy; an educator, mother and developer of private Montessori Schools
	through-out the country; clearly understands the value of exceptional child care
	and work-life balance.
	
</p>	

<p>
	The goal of RoyalNannyCare.com is to create a place
	for families to find educated,experienced candidates;
	focusing on the specific needs of the family.
	
</p>	

<p>We wish you success in your search;don't hesitate to contact us if you need assitance</p>	

  <hr/>
</div>
