#language-lists .title{
  width: auto;
  float: left;
  padding: 5px 20px 5px 5px;
  margin: 5px 5px 5px 0;
  background: #EEE;
  position: relative;
  font-size: 12px
}

#language-lists .title .remove{
  color: #AAA;
  top: 6px;
  position: absolute;
  right: 5px;
  cursor: pointer
}